body {
    background-color: #f4f6f9;
    font-family: 'Segoe UI', sans-serif;
}

.sidebar a {
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.15);
    transition: 0.3s;
}

.card {
    border-radius: 12px;
}



.table {
    background: #fff;
}

h2, h4, h5 {
    font-weight: 600;
}
